
.cfooter{color: #000; background: #6cf; padding: 10px 10;}
.cfooter{left: 0px;bottom: 0px;width: 100%;padding: 10px 20px 0px;height: 60px; border:1px solid red;}
/*.cfooter {position: absolute;bottom: 0;width: 100%;height: 60px;padding: 10px 10px;}*/
.bHeader{
    background-color: Green;
}




